nav li{
    list-style: none;
    display: inline;
}
nav li a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
nav li:hover{
    background-color: lightcoral;
    padding: 0 5px;
}
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid lightblue;
    padding: 5px 15px;
}
s